:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --description-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}
/*=====================HEADER====================*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000;
}

.logo-web {
  color: var(--accent-color);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: var(--main-color);
}

.address-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: var(--description-color);
}

.logo:focus,
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
/*====================MAIN PAGE====================*/
/*===========HERO=========*/
.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /*color: #fff;*/
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

/*===========FEATURES=========*/

.features-list-item-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list-item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/*===========WHAT WE DO=========*/
.whatwedo-title,
.ourteam-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

/*===========OUR TEAM=========*/

.ourteam-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.ourteam-list-name-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/*=====================PORTFOLIO PAGE===================*/
.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-text:hover,
.button-text:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.project-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/*=====================FOOTER====================*/
.contacts-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  /*color: rgba(255, 255, 255, 0.6);*/
}

.contacts-list-link.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  /*color: #FFFFFF;*/
}

.contacts-list-link:hover,
.contacts-list-link:focus,
.contacts-list-link.address:hover,
.contacts-list-link.address:focus {
  color: var(--accent-color);
}
